<a href="https://colab.research.google.com/github/nun318/Coursera_Capstone/blob/master/Chicago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [3]:
import pandas as pd

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [ ]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://

In [4]:
df = pd.read_csv('/content/Chicago_Crime_Data-v2.csv')

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [6]:
df.count()

ID                       533
CASE_NUMBER              533
DATE                     533
BLOCK                    533
IUCR                     533
PRIMARY_TYPE             533
DESCRIPTION              533
LOCATION_DESCRIPTION     533
ARREST                   533
DOMESTIC                 533
BEAT                     533
DISTRICT                 533
WARD                     490
COMMUNITY_AREA_NUMBER    490
FBICODE                  533
X_COORDINATE             529
Y_COORDINATE             529
YEAR                     533
UPDATEDON                533
LATITUDE                 529
LONGITUDE                529
LOCATION                 529
dtype: int64

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [5]:
df.head(10)

         ID CASE_NUMBER  ...  LONGITUDE                       LOCATION
0   3512276    HK587712  ... -87.703956    (41.8074405, -87.703955849)
1   3406613    HK456306  ... -87.716406  (41.898279962, -87.716405505)
2   8002131    HT233595  ... -87.624642  (41.815933131, -87.624642127)
3   7903289    HT133522  ... -87.562463  (41.743665322, -87.562462756)
4  10402076    HZ138551  ... -87.706480  (41.773455295, -87.706480471)
5   7732712    HS540106  ... -87.644939  (41.896446772, -87.644938678)
6  10769475    HZ534771  ... -87.708600  (41.972844913, -87.708600079)
7   4494340    HL793243  ... -87.613504  (41.823879885, -87.613503857)
8   3778925    HL149610  ... -87.689179  (41.711280513, -87.689179097)
9   3324217    HK361551  ... -87.710923  (41.939295821, -87.710923442)

[10 rows x 22 columns]

### Problem 3

##### How many crimes involve an arrest?

In [15]:
 df[df["ARREST"]==1].count()

ID                       163
CASE_NUMBER              163
DATE                     163
BLOCK                    163
IUCR                     163
PRIMARY_TYPE             163
DESCRIPTION              163
LOCATION_DESCRIPTION     163
ARREST                   163
DOMESTIC                 163
BEAT                     163
DISTRICT                 163
WARD                     143
COMMUNITY_AREA_NUMBER    143
FBICODE                  163
X_COORDINATE             162
Y_COORDINATE             162
YEAR                     163
UPDATEDON                163
LATITUDE                 162
LONGITUDE                162
LOCATION                 162
dtype: int64

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [20]:
df[df["LOCATION_DESCRIPTION"]=="GAS STATION"]["PRIMARY_TYPE"]

69                 THEFT
71                 THEFT
288            NARCOTICS
459              ROBBERY
463              ROBBERY
474    CRIMINAL TRESPASS
Name: PRIMARY_TYPE, dtype: object

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [21]:
df1 = pd.read_csv('/content/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012-v2.csv')

In [22]:
df1.head()

   COMMUNITY_AREA_NUMBER  ... HARDSHIP_INDEX
0                    1.0  ...           39.0
1                    2.0  ...           46.0
2                    3.0  ...           20.0
3                    4.0  ...           17.0
4                    5.0  ...            6.0

[5 rows x 9 columns]

In [27]:
df1[df1["COMMUNITY_AREA_NAME"].str.startswith("B")==1]

    COMMUNITY_AREA_NUMBER  ... HARDSHIP_INDEX
18                   19.0  ...           70.0
46                   47.0  ...           79.0
57                   58.0  ...           84.0
59                   60.0  ...           43.0
71                   72.0  ...           12.0

[5 rows x 9 columns]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [29]:
df2 = pd.read_csv('/content/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv')

In [30]:
df2.head()

   School ID  ...                     Location
0     610038  ...  (41.92449696, -87.64452163)
1     610281  ...  (41.76032435, -87.55673627)
2     610185  ...  (41.74711093, -87.73170248)
3     609993  ...    (41.8097569, -87.6721446)
4     610513  ...  (41.82814609, -87.63279369)

[5 rows x 78 columns]

In [47]:

df2[(df2["COMMUNITY_AREA_NUMBER"]>=10) & (df2["COMMUNITY_AREA_NUMBER"]<=15) & (df2["HEALTHY_SCHOOL_CERTIFIED"]=="Yes")]

     School ID  ...                     Location
471     609995  ...  (41.98367756, -87.77908614)

[1 rows x 78 columns]

### Problem 7

##### What is the average school Safety Score?

In [48]:
df2["SAFETY_SCORE"].mean()

49.50487329434698

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [55]:
a=df2.groupby(["COMMUNITY_AREA_NAME"])["COLLEGE_ENROLLMENT"].mean()

In [56]:
a.sort_values(ascending=False).head()

COMMUNITY_AREA_NAME
ARCHER HEIGHTS    2411.500000
MONTCLARE         1317.000000
WEST ELSDON       1233.333333
BRIGHTON PARK     1205.875000
BELMONT CRAGIN    1198.833333
Name: COLLEGE_ENROLLMENT, dtype: float64

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [80]:
b=df2.groupby(["COMMUNITY_AREA_NAME"])["SAFETY_SCORE"].sum()

In [64]:
b.sort_values().head()

COMMUNITY_AREA_NAME
OAKLAND           0.0
BURNSIDE         28.0
OHARE            44.0
MONTCLARE        57.0
MCKINLEY PARK    60.0
Name: SAFETY_SCORE, dtype: float64

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [84]:
df2[df2["SAFETY_SCORE"]==1]

     School ID  ...                     Location
121     609819  ...  (41.79679285, -87.61617809)

[1 rows x 78 columns]

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).